@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary: #f00;
  --blue-btn-signin: #065fd4;
  --yt-color-btn: #f9f9f9;
  --yt-color-btn-hover: #f0f0f0;
  --yt-color-border: #d3d3d3;

  --yt-header-height: 56px;
  --yt-height-icon: 24px;
  --yt-width-icon: 24px;
  --yt-width-search: 728px;
  --yt-height-search: 40px;
  --yt-btn-icon-height: 40px;
  --yt-btn-icon-width: 40px;
  --yt-height-100: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
